<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.applovin.me.afloat">

    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <application>
        <activity
            android:name=".DebugSettingActivity"
            android:exported="false">
            <intent-filter>
                <action android:name="com.applovin.me.afloat.DebugSettingActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <service
            android:name=".DragonBallService"
            android:enabled="true"
            android:exported="true" >
            <intent-filter>
                <action android:name="com.applovin.me.afloat.DragonBallService" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </service>
    </application>

</manifest>